.purple-ball {
  position: absolute;
  width: 60px;
  height: 60px;
  left: 908px;
  top: -2px;
  border-radius: 50%;
  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(236, 208, 255, 0.64) 0%,
    rgba(161, 93, 207, 0.24) 59.67%,
    rgba(118, 49, 164, 0.208) 78.59%,
    rgba(86, 24, 128, 0.232) 100%
  );

  box-shadow: 3px 6px 27px -10px rgba(177, 118, 217, 0.25);
  filter: blur(5px);
  backdrop-filter: blur(2px);
}

@media screen and (max-width: 320px) {
  .purple-ball {
    width: 40px;
    height: 40px;
    left: 296px;
    top: 236px;
    z-index: -1;
  }
}

.red-ball {
  position: absolute;
  width: 83px;
  height: 83px;
  left: 559px;
  top: 83px;
  border-radius: 50%;

  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.536) 0%,
    rgba(212, 93, 93, 0.264) 59.67%,
    rgba(167, 49, 49, 0.248) 78.59%,
    rgba(130, 25, 25, 0.248) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  backdrop-filter: blur(2px);
}

@media screen and (max-width: 320px) {
  .red-ball {
    width: 43px;
    height: 43px;
    left: 29px;
    top: 402px;

    background: radial-gradient(
        64% 64% at 27.25% 26.5%,
        rgba(255, 208, 208, 0.536) 0%,
        rgba(212, 93, 93, 0.264) 59.67%,
        rgba(167, 49, 49, 0.248) 78.59%,
        rgba(130, 25, 25, 0.248) 100%
      )
    box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
    backdrop-filter: blur(2px);
    z-index: -1;
  }
}

.red-ball_small {
  position: absolute;
  width: 28px;
  height: 28px;
  left: 891px;
  top: 547px;
  border-radius: 50%;

  background: radial-gradient(
    64% 64% at 27.25% 26.5%,
    rgba(255, 208, 208, 0.48) 0%,
    rgba(212, 93, 93, 0.248) 59.67%,
    rgba(167, 49, 49, 0.264) 78.59%,
    rgba(130, 25, 25, 0.232) 100%
  );
  box-shadow: 3px 6px 27px -10px rgba(223, 125, 125, 0.25);
  filter: blur(2.5px);
  backdrop-filter: blur(2px);
}

@media screen and (max-width: 320px) {
  .red-ball_small {
    display: none;
  }
}

.purple-light {
  position: absolute;
  width: 259px;
  height: 259px;
  left: 642px;
  top: -154px;
  background: #833ab4;
  opacity: 0.5;
  filter: blur(196px);
}

@media screen and (max-width: 320px) {
  .red-light {
    width: 211px;
    height: 210px;
    left: -55px;
    top: 241px;

    background: #961a1a;
    opacity: 0.5;
    filter: blur(196px);
  }
}

.red-light {
  position: absolute;
  width: 311px;
  height: 311px;
  left: -62px;
  top: 251px;

  background: #961a1a;
  opacity: 0.5;
  filter: blur(196px);
}

@media screen and (max-width: 320px) {
  .red-light {
    width: 211px;
    height: 210px;
    left: -55px;
    top: 241px;

    background: #961a1a;
    opacity: 0.5;
    filter: blur(196px);
  }
}

.main {
  margin: 93px 0 0 0;
  padding: 0 0 59px 0;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 320px) {
  .main {
    margin: 95px 0 0 14px;
    display: block;
  }
}

.main-left {
  max-width: 362px;
}

.main-right {
  max-width: 300px;
  margin: 15px 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: end;
}

@media screen and (max-width: 320px) {
  .main-right {
    align-items: start;
  }
}

.main__heading {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  color: var(--light-text-color);
}

@media screen and (max-width: 320px) {
  .main__heading {
    font-size: 36px;
    line-height: 44px;
  }
}

.main__heading_gradient {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  background: linear-gradient(92deg, #fcb045 27.14%, #ff3f78 121.36%), #e4e5ea;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@media screen and (max-width: 320px) {
  .main__heading_gradient {
    font-size: 36px;
    line-height: 44px;
  }
}

.main__subheading {
  margin: 30px 0 0 0;
  max-width: 275px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: var(--light-text-color);
}

@media screen and (max-width: 320px) {
  .main__subheading {
    margin: 15px 0 0 0;
  }
}

.main__gifts-heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  color: var(--light-text-color);
}

@media screen and (max-width: 320px) {
  .main__gifts-heading {
    margin: 31px 0 0 0;
    text-align: left;
    font-size: 18px;
    line-height: 22px;
  }
}

.main__gifts-heading_gradient {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@media screen and (max-width: 320px) {
  .main__gifts-heading_gradient {
    font-size: 18px;
    line-height: 22px;
    text-transform: none;
    letter-spacing: normal;
  }
}

.main-gifts {
  margin: 41px 0 0 0;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 28px;
  row-gap: 29px;
}

@media screen and (max-width: 320px) {
  .main-gifts {
    display: none;
  }
}

.main-gifts_mobile {
  display: none;
}

@media screen and (max-width: 320px) {
  .main-gifts_mobile {
    margin: 20px 0 0 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    column-gap: 8px;
    row-gap: 13px;
    max-width: 265px;
  }
}

.main-gift_mobile {
  display: flex;
  align-items: center;
}

.main-gift-line_mobile {
  width: 10px;
  height: 1px;
  background: linear-gradient(90deg, #fcb045 36.99%, #fd1d1d 100%);
}

.main-gift__heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-align: right;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.main-gift__heading_mobile {
  margin: 0 0 0 7px;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.main-gift__text {
  margin: 6px 0 0 0;
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: right;
  color: var(--light-text-color);
}

.main-CTA-button {
  margin: 61px 0 0 0;
  background: var(--cta-button-background);
  width: 262px;
  height: 61px;
  border: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--light-text-color);
}

@media screen and (max-width: 320px) {
  .main-CTA-button {
    display: none;
  }
}
