.header {
  margin: 5px 0 0 0;
}
.header-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 320px) {
  .header-desktop {
    display: none;
  }
}

.header-mobile {
  margin: 0;
  padding: 0 16px;
  min-height: 55px;
  width: 100%;
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  justify-content: space-between;
  align-items: center;
  background-color: #0e1014;
}

@media screen and (max-width: 320px) {
  .header-mobile {
    display: flex;
  }
}

.header-left {
  display: flex;
  align-items: center;
}
.header__logo {
  width: 140px;
  height: 24px;
}

.header__logo-caption {
  margin: 10px 0 0;
  max-width: 140px;
  font-family: "Montserrat";
  font-weight: 300;
  font-size: 10px;
  line-height: 12px;
  color: var(--light-text-color);
}

.header__menu {
  margin: 0 0 0 52px;
  display: flex;
  justify-content: space-between;
  width: 503px;
  padding: 0;
  list-style-type: none;
}

.header__menu_mobile {
  margin: 0 0 0 0;
  width: 100%;
  gap: 16px;
}

.header__menu-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--light-text-color);
}

.header__menu-item_mobile {
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: var(--light-text-color);
}

.header__contacts {
  display: flex;
  justify-content: space-between;
  width: 307px;
}

.header__tel:visited {
  color: var(--light-text-color);
}

.header__social {
  display: flex;
  justify-content: space-between;
  width: 120px;
}
